$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
// variables for colors
$black: #151515;
$white: #ffffff;
$black-light: #242424;
$white-light: #D9D9D9;
$green: #4EE1A0;
// variables for fonts
$family:'Space Grotesk', sans-serif;