@use "../abstracts/abstracts" as *;
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding-bottom: 87px;
  border-bottom: 1px solid $white;
  @include breakpoint("tablet") {
    padding: 60px 130px;
    padding-bottom: 90px;
  }
  @include breakpoint("desktop") {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 0px;
    gap: 220px;
  }
  &__introduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @include breakpoint("desktop") {
      align-items: flex-start;
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
      color: $white;
      text-align: center;
      @include breakpoint("tablet") {
        font-size: 72px;
      }
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: $white-light;
      text-align: center;
      @include breakpoint("tablet") {
        text-align: left;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    @include breakpoint("desktop") {
      width: 100%;
    }

    .item {
      width: 100%;
      padding: 16px 24px;
      border: 1px hidden $white;
      border-bottom: 1px solid $white;
      background-color: transparent;
    }
    .btn {
      display: flex;
      justify-content: end;
    }
  }
}
