@use "../abstracts/abstracts" as *;
.contacto {
  background-color: $black-light;
  padding: 50px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-image: url("../../img/fondo-1.svg");
  background-repeat: no-repeat;
  background-position: 0% 85%;
  @include breakpoint("tablet") {
    padding: 100px 16px;
    padding:60px 132px 90px 132px;
  }
    
  &__introduccion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-family: $family;
      font-size: 40px;
      font-weight: 700;
      color: $white;
      text-align: center;
    }
    p {
      font-family: $family;
      font-size: 16px;
      font-weight: 500;
      color: $white-light;
      text-align: center;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .item {
      background-color: transparent;
      border: 1px hidden $white;
      width: 100%;
      border-bottom: 1px solid $white-light;
      padding: 16px 0;
    }
    a {
      display:flex;
      justify-content: end;
      padding:20px 0px;
      font-family: $family;
      font-size: 16px;
      font-weight: 700;
      color: $white-light;
      text-transform: uppercase;
      text-underline-offset: 10px;
      text-decoration-color: $green;
      text-decoration-thickness: 2px;
      text-align: center;
      &:hover {
        color: $green;
      }
    }
  }
}
