@use "../abstracts/abstracts" as *;
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid $white;
  @include breakpoint("tablet") {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  @include breakpoint("desktop") {
    display: grid;
    grid-template-columns: 65% 35%;
  }
  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    @include breakpoint("tablet") {
      order: 1;
      transform: translateX(32px);
    }
    @include breakpoint("desktop") {
      transform: translateX(0px);
    }
    img {
      padding-top: 50px;
      width: 45%;
      background-color: rgb($black-light, 0.5);
      @include breakpoint("tablet") {
        width: 100%;
        height: 100%;
        background-color: rgb($black-light, 1);
      }
    }
  }
  &__introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    @include breakpoint("tablet") {
      align-items: start;
      gap: 34px;
      padding-top: 90px;
    }
    h1 {
      font-size: 40px;
      font-weight: 700;
      color: $white;
      text-align: center;
      @include breakpoint("tablet") {
        font-size: 72px;
        width: 100%;
        text-align: left;
      }
      span {
        text-decoration: underline;
        text-decoration-color: $green;
        text-underline-offset: 10px;
        text-decoration-thickness: 6px;
      }
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: $white-light;
      text-align: center;
      @include breakpoint("tablet") {
        font-size: 18px;
        width: 100%;
        text-align: left;
      }
      @include breakpoint("desktop") {
        width: 60%;
      }
    }
    a {
      font-size: 16px;
      font-weight: 500;
      color: $white-light;
      text-decoration-color: $green;
      text-underline-offset: 10px;
      text-decoration-thickness: 2px;
      text-transform: uppercase;
      &:hover {
        color: $green;
      }
    }
  }
}
