@use "../abstracts/abstracts" as *;
header {
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-image: url("../../img/fondo-1.svg"),
    url("../../img/fondo-oval.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 20%, 100% 40%;

  .social-media ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .image {
    background-image: linear-gradient(
      to bottom,
      rgba(21, 21, 21, 0),
      rgba(21, 21, 21, 100%)
    );
  }

  .presentation {
    padding-bottom: 60px;
    width: 90%;
    border-bottom: 1px solid $white-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    &__title {
      font-family: $family;
      font-size: 40px;
      font-weight: 700;
      color: $white;
      padding: 0px 16px;
      text-align: center;
      span {
        text-decoration: underline;
        text-decoration-color: $green;
        text-underline-offset: 10px;
        text-decoration-thickness: 4px;
      }
    }
    &__subtitle {
      font-family: $family;
      font-size: 16px;
      font-weight: 400;
      color: $white-light;
      text-align: center;
      padding: 0px 16px;
    }
    &__link {
      font-family: $family;
      font-size: 16px;
      font-weight: 700;
      color: $white;
      text-underline-offset: 20px;
      text-decoration-color: $green;
      text-align: center;
      &:hover {
        color: $green;
      }
    }
  }
}
